/* custom CSS file */

/* body styles */
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.1em;
	line-height: 1.2em;
	margin: 0;
	padding: 0;

}

/* heading styles */
h1, h2, h3, h4, h5, h6 {
	font-family: Georgia, 'Times New Roman', Times, serif;
	margin: 0;
	padding: 0;
}

h1 { 
    font-size: 2em;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.33em;
}

h4 {
	font-size: 1.17em;
}

h5 {
	font-size: .83em;
}

h6 {
	font-size: .5em;
}

/* paragraph styles */
p {
	line-height: 1.3em;
	word-spacing: 10px;
	margin: 0;
}



/* styles that target main */

main {
	background-color: lightgrey;
	padding: 1.6%;
	overflow: auto;
}

.main {
	width: 50%;
	min-height: 60vh;

}

.normal {
	font-weight: normal!important;
	font-style: normal!important;
	line-height: 1em!important;
	color: black!important;
}

.firstWord {
	font-style: italic;
	font-weight: 700;
	letter-spacing: 5px;
	color: blue;
}

.redBorder {
	border: 1px dashed red;
}

.greenBorder {
	border: 1px dashed green;
}

.blueBorder {
	border: 1px dotted blue;
}

.blackBorder {
	border: 1px solid black;
}


.width-300 {
	width: 300px;
}

.height-300 {
	height: 300px;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.upperCase {
	text-transform: uppercase;
}

.underline {
	text-decoration: underline;
}

.percent-25 {
	width: 25%;
}

.percent-50 {
	width: 50%;
}

.container {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}


/* main navigation styles */

header {
	background-color: black;
}

.mainNav ul {
	text-align: right;
	padding: 0.8%;
	overflow: auto;
}

.mainNav li {
	display: inline;
	/*overflow: auto;*/
	padding: 0.8%;
}

.mainNav a {
	text-decoration: none;
	color: white;
}

.mainNav li:hover {
	background-color: darkgray;
}


.active {
		background-color: grey;
}

/* special effects */
.redArea {
	background-color: red;
}

.right {
	float: right;
}

.left {
	float: left;
}

.aside {
	width: 30%;
}